
.modes-section__card{
    opacity: 0;
    transform: translateY(50px);
}

.modes-section__card.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

.question-section__ask-block{
    opacity: 0;
    transform: translateY(50px);
}

.question-section__ask-block.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

  .question-section__answer-block{
    opacity: 0;
    transform: translateY(50px);
}

.question-section__answer-block.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

  .weapons-section__card-first-animation-card{
    opacity: 0;
    transform: translateY(30px);
}

.weapons-section__card-first-animation-card.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

  .weapons-section__card-second-animation-card{
    opacity: 0;
    transform: translateY(30px);
}

.weapons-section__card-second-animation-card.element-show {
    opacity: 1;
    transition: ease-in-out 0.5s;
    transform: translateY(0%);
  }

  .weapons-section__promising-veapon{
    opacity: 0;
    transform: translateY(30px);
}

.weapons-section__promising-veapon.element-show {
    opacity: 1;
    transition: ease-in-out 0.7s;
    transform: translateY(0%);
  }

.photo-section__first-photo{
    opacity: 0;
    transform: translateY(30px);
}

.photo-section__first-photo.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

.photo-section__second-photo{
    opacity: 0;
    transform: translateY(30px);
}

.photo-section__second-photo.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

  .price-section__combo-card-first{
    opacity: 0;
    transform: translateY(30px);
}

.price-section__combo-card-first.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

  .price-section__combo-card-second{
    opacity: 0;
    transform: translateY(30px);
}

.price-section__combo-card-second.element-show {
    opacity: 1;
    transition: ease-in-out 0.5s;
    transform: translateY(0%);
  }

  .price-section__combo-card-third{
    opacity: 0;
    transform: translateY(30px);
}

.price-section__combo-card-third.element-show {
    opacity: 1;
    transition: ease-in-out 0.7s;
    transform: translateY(0%);
  }

.blue-card{
    opacity: 0;
    transform: translateY(30px);
}

.blue-card.element-show {
    opacity: 1;
    transition: ease-in-out 0.3s;
    transform: translateY(0%);
  }

.purple-card{
    opacity: 0;
    transform: translateY(30px);
}

.purple-card.element-show {
    opacity: 1;
    transition: ease-in-out 0.5s;
    transform: translateY(0%);
  }

  .yellow-card{
    opacity: 0;
    transform: translateY(30px);
}

.yellow-card.element-show {
    opacity: 1;
    transition: ease-in-out 0.7s;
    transform: translateY(0%);
  }

  .scrolled{
    height: 40px;
    background: linear-gradient(rgb(26, 26, 26), rgb(26, 26, 26, 0.2));
    transition: all 200ms linear;
  }

  .hidden{
    opacity: 0;
  }

  .zoom{
    position: absolute;
    z-index: 5000;
    width: 100%;
    height: 210%;
    box-shadow: 0 0 0 1em #FFF7BD;
    margin: 0;
    left: 15px;
  }

  .zoomBottom{
    position: absolute;
    z-index: 5000;
    width: 100%;
    height: 210%;
    top: -117%;
    box-shadow: 0 0 0 1em #FFF7BD;
    margin: 0;
    left: 15px;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .scrolled{
      height: 60px;
    }
  }
  